@font-face {
  font-family: "Gilroy-Bold";
  src: local("Gilroy-Bold"), url("/site_seo/font/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: local("Gilroy-Medium"), url("/site_seo/font/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: local("Gilroy-SemiBold"), url("/site_seo/font/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: "Gilroy-Regular";
  src: local("Gilroy-Regular"), url("/site_seo/font/Gilroy-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.navigation {
  padding-top: 45px;
  padding-bottom: 43px;
  display: flex;
  justify-content: left;
}

.logo {
  display: flex;
  align-items: center;
  gap: 14px;
  padding-right: 346px;
  margin-left: 0;
}
.logo_text {
  font-family: "Gilroy-Bold";
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu {
  display: flex;
  align-items: center;
}

.menu_item {
  display: flex;
  list-style: none;
  gap: 35px;
}
.menu_home_text a {
  font-family: "Gilroy-Medium";
  color: #f25822;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menu_text a {
  font-family: "Gilroy-Medium";
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menu_button {
  font-family: "Gilroy-Medium";
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 120px;
  height: 40px;
  flex-shrink: 0;
  border: 0;
  border-radius: 30px;
  background: #f25822;
  margin-left: 34px;
}
.nome_page .center {
  position: relative;
  padding-top: 134px;
  padding-bottom: 85px;
  padding-right: 440px;
}
.home_meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title_text {
  font-family: "Gilroy-Bold";
  padding-top: 148px;
  width: 522px;
  color: #000;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.element {
  position: absolute;
  padding-top: 65px;
  padding-right: 229px;
  z-index: 1;
}
.sub_title {
  font-family: "Gilroy-Medium";
  width: 466px;
  color: #888;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buttons_meta {
  display: flex;
  gap: 27px;
  padding-bottom: 85px;
}
.button {
  font-family: "Gilroy-Bold";
  width: 140px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}
.button_video {
  display: flex;
  align-items: center;
  gap: 15px;
}
.icon_video {
  width: 30px;
  height: 25px;
  flex-shrink: 0;
}
.button_video_text {
  font-family: "Gilroy-Bold";
  width: 90px;
  height: 16px;
  flex-shrink: 0;
  color: #aaa;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.home_page_image {
  padding-top: 135px;
  padding-left: 41px;
}
.brand {
  padding-top: 97px;
  padding-bottom: 96px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 48px;
}
.center_as {
  padding-left: calc(50% - 741px);
  padding-right: calc(50% - 741px);
}
.about_as {
  background: #fafafa;
}
.about_elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 73px;
}
.about_title {
  width: 409px;
  height: 112px;
  color: #000;
  font-family: "Gilroy-Bold";
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 127px;
  padding-bottom: 301px;
  padding-left: 7%;
}

.about_text {
  font-family: "Gilroy-Regular";
  width: 515px;
  height: 72px;
  color: #666;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  padding-top: 20px;
  padding-bottom: 35px;
}
.about_button {
  font-family: "Gilroy-Bold";
  width: 140px;
  height: 50px;
  border-radius: 50px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}
.features {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 60px;
  justify-content: space-between;
}
.features_item {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.features_item_s {
  display: flex;
  flex-direction: column;
  align-items: left;
  background: #fff;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.img_features_item {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 30px;
}
.features_item_title {
  color: #000;
  font-family: "Gilroy-Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 17px;
  padding-left: 29px;
}
.features_item_text {
  font-family: "Gilroy-Regular";
  width: 310px;
  height: 42px;
  flex-shrink: 0;
  color: #666;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 22.5px */
  padding-left: 29px;
}
.features_item_button {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #000;
  font-family: "Gilroy-Bold";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 16.5px */
  padding-left: 29px;
}
.img_features_item {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 30px;
}
.features_item_title {
  color: #000;
  font-family: "Gilroy-Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 17px;
  padding-left: 29px;
}
.features_item_text {
  font-family: "Gilroy-Regular";
  width: 310px;
  height: 42px;
  flex-shrink: 0;
  color: #666;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 22.5px */
  padding-left: 29px;
}
.features_item_button {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #000;
  font-family: "Gilroy-Bold";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 16.5px */
  padding-left: 29px;
}
.img_features_item_l {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  padding-top: 40px;
  padding-bottom: 25px;
}
.features_item_title_l {
  color: #000;
  font-family: "Gilroy-Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 17px;
}
.features_item_text_l {
  font-family: "Gilroy-Regular";
  width: 310px;
  height: 42px;
  flex-shrink: 0;
  color: #666;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 22.5px */
  padding-bottom: 25px;
}
.features_item_button_l {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #000;
  font-family: "Gilroy-Bold";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 16.5px */
}
